<%= simple_form_for(@ride) do |f| %>
  <div class="row margin-form">
    <div class="col-xs-6 col-sm-6">
      <%= f.input :date, as: :string, input_html: { class: "datepicker" }, placeholder: "Date du trajet", label: "Date :" %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <%= f.input :reason, placeholder:"Client, Prospect, Partenaire", label: "Motif :" %>
    </div>
  </div>
  <div class="row margin-form">
    <div class="col-xs-12 ">
      <%= f.input :start_place, placeholder:"Lieu de départ", label: "De :" %>
    </div>
  </div>
  <div class="row margin-form">
    <div class="col-xs-12">
      <%= f.input :end_place, placeholder:"Lieu d'arrivée", label: "A :" %>
    </div>
  </div>
  <div class="text-center margin-form">
    <%= f.input :two_way_trip, :as => :boolean, label_html: { for: nil }, input_html: {checked: false, class: "checkbox"}, label: "Aller / Retour" %>
    <p id="km_number"></p>
    <%= f.button :submit, "Enregistrer", class: "btn btn-enregistrer" %>
  </div>
<% end %>


